:root {
	/* --text: #ffffff;
	--background: #090303;
	--primary: #6d00db;
	--secondary: #425a56;
	--accent: #929292;
	--accent-disabled: rgba(179, 225, 255, 0.596);
	--accent-gradient: linear-gradient(130deg, rgba(109,0,219,1) 0%, rgba(67,166,230,1) 100%); */
}
html {
	background: rgb(0,0,255);
	background-image: url('/bg_new.png');
	background-size: cover;
}
code {
	/* font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace; */
}

main {
	background-color: white;
}