---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.astro';
---

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const countdown = document.getElementById('countdown');
		// time in UTC
		const hackathonDate = new Date('2024-04-13T15:00:00Z');
		const updateTime = (interval = null) => {
			const now = new Date();
			const timeLeft = hackathonDate - now;
			if (timeLeft < 0) {
				if (interval) {
					clearInterval(interval);
				}

				countdown.style.display = 'none';
				document.getElementById('alt-text').hidden = false;

			} else {
				const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
				const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
				const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
				const pad = (num) => num.toString().padStart(2, '0');
				document.getElementById('days').textContent = pad(days);
				document.getElementById('hours').textContent = pad(hours);
				document.getElementById('minutes').textContent = pad(minutes);
				document.getElementById('seconds').textContent = pad(seconds);
			}
		};
		updateTime();
		const interval = setInterval(() => {updateTime(interval)}, 1000);
	});
</script>

<Layout title="MHS Hackathon 2024">
	<main>
		<h1>MHS Hackathon 2024</h1>
		<div class="countdown" id="countdown">
			<div id="days-div">
				<span id="days" class="number">0</span>
				<span class="label">days</span>
			</div>
			<p class="separator">:</p>
			<div id="hours-div">
				<span id="hours" class="number">0</span>
				<span class="label">hours</span>
			</div>
			<p class="separator">:</p>
			<div id="minutes-div">
				<span id="minutes" class="number">0</span>
				<span class="label">minutes</span>
			</div>
			<p class="separator">:</p>
			<div id="seconds-div">
				<span id="seconds" class="number">0</span>
				<span class="label">seconds</span>
			</div>
		</div>
		<h2 id="alt-text" hidden="true">The hackathon has <span class="text-gradient">started</span>!</h2>

		<Info />
		
		<div class="button-container">
			<a href="/information" class="button">More Info</a>
			<a class="button button-disabled">Registration closed.</a>
		</div>

		<div class="footer">
			<p>© 2024 Martin High School Computer Science Club</p>
			<a href="https://github.com/alec-jensen/hackathon_website" target="_blank">View site on GitHub</a>
			<p>This site is <span style="color:red">NOT</span> a template :(</p>
		</div>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 95vh;
		flex-grow: 1;
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		/* color: white; */
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	h2 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 1em;
		/* font-family: monospace; */
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		/* font-family: monospace; */
	}

	/* a {
		color: var(--accent);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	} */

	.material-symbols-outlined {
		vertical-align: bottom;
		padding: 0 0.2em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-position: 0%;
	}

	#alt-text {
		margin-bottom: 2em;
	}

	.countdown {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.countdown div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.number {
		color: var(--primary);
		text-shadow: 0 0 10px var(--primary);
		font-size: 5rem;
		font-weight: 700;
		margin-bottom: -0.2em;
		/* font-family: monospace; */
	}

	.separator {
		font-size: 5rem;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0.4em;
		color: var(--primary);
		text-shadow: 0 0 10px var(--primary);
	}

	.label {
		color: rgb(141, 141, 141);
		font-style: italic;
		/* font-family: monospace; */
	}

	.button-container {
		display: flex;
		justify-content: space-evenly;
	}

	/* .button {
		width: 30%;
		margin: auto;
		margin-top: 1em;
		display: block;
		text-align: center;
		padding: 0.6em;
		background-color: var(--accent);
		color: var(--text);
		border: none;
		border-radius: 10px;
		font-size: 1.5rem;
		font-weight: 700;
		cursor: pointer;
		transition: all 0.3s ease;
		font-family: monospace;
		width: 40%;
		text-decoration: underline;
	}

	.button:hover {
		background-color: var(--primary);
	} */

	.button-disabled {
		cursor: not-allowed;
	}

	.button-disabled:hover {
		text-decoration: none;
	}

	.footer {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 2em;
		font-size: 0.9rem;
	}

	@media screen and (max-width: 600px) {
		h1 {
			font-size: 3rem;
		}

		.number {
			font-size: 3rem;
		}

		.label {
			font-size: 0.9rem;
		}

		.separator {
			font-size: 3rem;
		}

		.button {
			width: 50%;
		}

		.footer {
			flex-direction: column;
			text-align: center;
			gap: 0.1em;
			width: 100%;
		}

		.footer p {
			margin: 0;
			padding: 0;
		}

		.footer a {
			font-size: 0.8rem;
			margin: 0;
			padding: 0;
		}
	}
</style>
