---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.astro';
---

<Layout title="MHS Hackathon 2024">
	<main>
		<h1>Information for MHS Hackathon <span class="text-gradient">2024</span></h1>

		<Info />

		<p>
			This is Martin's 6th annual hackathon!
			We are excited to host this event and hope to see you there.
			We will have a variety of workshops and mentors to help you learn and create.
			We will also have a variety of prizes, worth over $100 in total.
			We will also have free food and a free shirt for all participants.
			We hope to see you there!
		</p>

		<img src="/shirt_design.png" alt="Shirt Design" />
		<em>Shirt design</em>

		<br>

		<a href="/">Go Home</a>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 95vh;
		flex-grow: 1;
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	h2 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 1em;
		font-family: monospace;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 1em;
		font-family: monospace;
	}

	a {
		color: var(--accent);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.material-symbols-outlined {
		vertical-align: bottom;
		padding: 0 0.2em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-position: 0%;
	}

	#alt-text {
		margin-bottom: 2em;
	}

	.countdown {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		justify-content: space-evenly;
		margin-bottom: 4em;
	}

	.countdown div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.number {
		color: var(--primary);
		text-shadow: 0 0 10px var(--primary);
		font-size: 5rem;
		font-weight: 700;
		margin-bottom: -0.2em;
		font-family: monospace;
	}

	.separator {
		font-size: 5rem;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0.4em;
		color: var(--primary);
		text-shadow: 0 0 10px var(--primary);
	}

	.label {
		color: rgb(141, 141, 141);
		font-style: italic;
		font-family: monospace;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 2em;
		font-size: 0.9rem;
	}

	img {
		width: 100%;
		max-width: 400px;
		border-radius: 12px;
	}

	@media screen and (max-width: 600px) {
		h1 {
			font-size: 3rem;
		}

		.number {
			font-size: 3rem;
		}

		.label {
			font-size: 0.9rem;
		}

		.separator {
			font-size: 3rem;
		}

		.footer {
			flex-direction: column;
			text-align: center;
			gap: 0.1em;
			width: 100%;
		}

		.footer p {
			margin: 0;
			padding: 0;
		}

		.footer a {
			font-size: 0.8rem;
			margin: 0;
			padding: 0;
		}
	}
</style>
