---
import "../styles/global.css";
---

<ul class="info">
    <li><span class="material-symbols-outlined">pin_drop</span><a href="https://www.aisd.net/martin-high-school/" target="_blank">James Martin High School</a></li>
    <li>April 13-14</li>
    <li>Over $1000 of prizes</li>
    <li><p><em>Free</em> food</p></li>
    <li><p><em>Free</em> shirt</p></li>
    <li>Judges: TBD</li>
    <li><a href="https://en.wikipedia.org/wiki/Hackathon" target="_blank">What is a hackathon?</a></li>
</ul>

<style>
    .info {
		list-style: none;
		padding: 0;
		text-align: center;
		/* font-family: monospace; */
	}

	.info li {
		margin: 0.5em 0;
        display: flex;
        align-items: center;
        justify-content: center;
	}

    .info li span {
        margin-right: 0.5em;
    }

    /* .info li a {
        color: var(--accent);
    } */

    .info li p {
        margin: 0;
    }
</style>