---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MHS Hackathon 2024" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.webp" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="generator" content={Astro.generator} />
		<meta content="MHS Hackathon 2024" property="og:title" />
		<meta content="MHS Hackathon 2024" property="og:site_name" />
		<meta content="Information for James Martin High School's 2024 Hackathon" property="og:description" />
		<meta content="/favicon.webp" property="og:image" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--text: #ffffff;
		--background: #090303;
		--primary: #6d00db;
		--secondary: #425a56;
		--accent: #43a6e6;
		--accent-gradient: linear-gradient(130deg, rgba(109,0,219,1) 0%, rgba(67,166,230,1) 100%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: rgb(0,0,0);
		background: linear-gradient(213deg, rgba(0,0,0,1) 0%, rgba(15,0,29,1) 100%);
		background-attachment: fixed;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
