---
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MHS Hackathon 2024" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.webp" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<meta name="generator" content={Astro.generator} />
		<meta content="MHS Hackathon 2024" property="og:title" />
		<meta content="MHS Hackathon 2024" property="og:site_name" />
		<meta content="Information for James Martin High School's 2024 Hackathon" property="og:description" />
		<meta content="/favicon.webp" property="og:image" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
